</div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; {{ site.title }}</p>

    <div class="content">

      <a id="background-info"
         href=""
         title=""
         target="_blank"
         class="content__location">
          <div id="content-location-region" class="content__location__region"></div>
          <div id="content-location-country" class="content__location__country"></div>
      </a>



    </div>

  </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/earthview.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
